PORT=3001
HOST=0.0.0.0
CLIENT_ORIGIN=http://localhost:3000
ER_RPC_URL=https://devnet-us.magicblock.app
ER_WS_URL=wss://devnet-us.magicblock.app
PYTH_HERMES_URL=https://hermes.pyth.network
SOLANA_RPC_URL=https://api.devnet.solana.com
UBALANCE_PROGRAM_ID=FkZVTshsawSNHYzxFZFfdBJUbLxvQJVhWtJqi8FgunFG
UBALANCE_ADMIN_SECRET_KEY=REPLACE_WITH_BASE58_OR_JSON_ARRAY_SECRET
ER_VALIDATOR_PUBKEY=MUS3hc9TCw4cGC12vHNoYcCGzJG1txjgQLZWVoeNHNd
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=ubalance_prediction_market
ROUND_RESOLVE_DELAY_SECONDS=20
AI_DUEL_MAX_STAKE_LAMPORTS=50000000
AUTH_CHALLENGE_TTL_SECONDS=300
AUTH_SESSION_TTL_SECONDS=86400
